
header{
    text-align: center;

    font-family: 'Linux Libertine','Hoefler Text',Georgia,'Times New Roman',Times,serif;

    font-size: 35px;
    margin-bottom: 20px;
 
}


header .header-text {
    margin: 40px auto 6px;
    font-variant: small-caps;
    font-weight: lighter;
}
header .header-subtext{
    font-size: 16px;
}
header .image{
    text-align: center;
    padding-top: 80px;
    position: absolute;
    left: 180px;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;

}
header .image img{
    width: 200px;
    height: 183px;

}

.section-1{
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 546px;
    height: 325px;
  
    margin: 0px auto;
    text-align: center;
    position: relative;
}

section a{
    text-decoration: none;  
}
section a small{
    font-size: 12px;
}

/*-----------------left----------------------*/
section  .left-1{
    position: absolute;
    top: 0;
    right: 64%;
}
section  .left-2{
    position: absolute;
    top: 20%;
    right: 75%;
}
section  .left-3{
    position: absolute;
    top: 40%;
    right: 77%;
}
section  .left-4{
    position: absolute;
    top: 60%;
    right: 75%;
}
section  .left-5{
    position: absolute;
    top: 80%;
    right: 60%;
}

/*-----------------rigth----------------------*/

section  .right-1{
    position: absolute;
    top: 0;
    left: 64%;
}
section  .right-2{
    position: absolute;
    top: 20%;
    left: 75%;
}
section  .right-3{
    position: absolute;
    top: 40%;
    left: 77%;
}
section  .right-4{
    position: absolute;
    top: 60%;
    left: 75%;
}
section  .right-5{
    position: absolute;
    top: 80%;
    left: 60%;
}

section  a  strong{
    color: #36c;
}
section a small{
    color: #54595d;
}

.section-2{
    text-align: center;
    margin-top: 3px;
}

section .section-buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 3px;

}

section .section-buttom input:focus{
    border:1px #36c solid;
    border-radius: 3px 0 0 3px;;
    -webkit-box-shadow:inset 0 0 0 1px #36c;
    -moz-box-shadow:inset 0 0 0 1px #36c;
    box-shadow:inset 0 0 0 1px #36c;
    outline:0;
}

section .section-buttom input{
    width: 660px;
    border: none;
    outline: none;
    padding: 8px 90px 8px 8px;
    font-size: 1.1rem;
    border: 1px solid #a2a9b1;
    height: 25px;

}
.section-buttom .lenguaje{
    position: absolute;
    margin-left: 110px;
    width: 50px;
    height: 30px;
}
.section-buttom .lenguaje .contenido-lenguaje{
    padding-top: 6px;
}

.section-buttom .lenguaje:hover{
    background-color: #f8f9fa;
    border-radius: 3px;
}


.section-buttom .lenguaje a{
    color:#54595d;
    font-size: 14px;
}

.flecha{
    width: 10px;
    height: 13px;
}
.section-buttom .busqueda-box{
    background-color: #36c;
    width: 135px;
    height: 43px;
    border-radius: 0 3px 3px 0;
}
.section-buttom .busqueda-box:hover{
    background-color: #447ff5;
}
.busqueda {
    width: 30px;
    height: 30px; 
    padding-top: 5px;
}

section .traductor{
   text-align: center;
   position: relative;

}

.traductor .linea{
    margin: 40px auto;
    max-width: 460px;
    background-color: #c8ccd1;
    height: 1px;
}
button .boton-idioma{
   background-image: linear-gradient(transparent,transparent),url('https://github.com/wikimedia/portals-deploy/blob/master/wikipedia.org/assets/img/sprite-556af1a5.svg');



}
